@media (min-width: $tablet-width) {
  .main-nav {
    flex-grow: 1;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    max-width: 610px;
    padding-right: 40px;

  }
}

@media (min-width: $tablet-width) {
  .main-nav__wrapper {
    display: flex;
    min-height: auto;
    padding-top: 19px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__wrapper {
    padding-top: 50px;
  }
}

.main-nav__list {
  @include list;
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    padding-left: 19.3%;
  }
}
