.toggle {
  display: flex;
  justify-content: center;
  margin-bottom: 37px;
}


@media (min-width: $tablet-width) {
  .toggle {
    margin-bottom: 68px;
  }
}

@media (min-width: $desktop-width) {
  .toggle {
    margin-left: 40px;
  }
}

.toggle__change {
  margin-left: 18px;
  margin-right: 18px;
  position: relative;
  max-width: 82px;
  width: 100%;
  height: 12px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  background:
  #ffffff;
  &:after {
    content: "";
  position: absolute;
  left: 5px;
  top: 25%;
  right: 5px;
  width: 35px;
  height: 6px;
  border-radius: 10px;
  background-color: #68b738;
  }
}

@media (min-width: $tablet-width) {
  .toggle__change {
    max-width: 428px;
    height: 6px;
    margin-top: 7px;
    margin-left: 24px;
    margin-right: 21px;
    border: none;
    background-color: #dcdcdc;
    &::after {
      top: -1px;
      left: 49.1%;
      width: 8px;
      height: 8px;
    }
    &::before {
      content: "";
      position: absolute;
      background-color: $white;
      border-radius: 50%;
      border: 1px solid #cfcfcf;
      height: 32px;
      width: 32px;
      top: -14px;
      left: 46.1%;
      cursor: pointer;
      box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.15);
    }
  }
  .toggle__change:hover::before,
  .toggle__change:focus::before {
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.25);
  }
  .toggle__change:active::before {
    box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.35);
    border: 2px solid $green;
  }
}


.toggle__button {
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  font-family: "Oswald", sans-serif;
  color: #111111;
  &--before {
    margin-left: 4px;
  }
}

@media (min-width: $tablet-width) {
  .toggle__button {
    font-size: 20px;
    line-height: 20px;
    border-bottom: 1px dotted #bebebe;
    padding-bottom: 5px;
    &--before {
      margin-left: 0;
    }
  }
  .toggle__button:hover,
  .toggle__button:focus {
      border-bottom: 1px solid #989898;
    }
  .toggle__button:active {
      border-bottom: none;
    }
}
