.additional-list {
  display: flex;
  flex-direction: column;
  padding-left: 6.25%;
  padding-right: 6.25%;
  padding-top: 23px;
  padding-bottom: 14px;
}

@media (min-width: $tablet-width) {
  .additional-list {
    padding-top: 51px;
    padding-bottom: 13px;
    padding-left: 9.1%;
    padding-right: 8.7%;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .additional-list {
    padding-left: 7.6%;
    padding-right: 7.6%;
    padding-top: 50px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.additional-list__item {
  margin-bottom: 25px;
  line-height: 18px;
  font-size: 16px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .additional-list__item {
    margin-bottom: 51px;
    width: 45%;
    &:nth-child(2n-1) {
      margin-right: 9.5%;
    }
  }
}

@media (min-width: $desktop-width) {
  .additional-list__item {
    width: 20%;
    margin-bottom: 0;
    &:nth-child(2n-1) {
      margin-right: 0;
    }
  }
}

.additional-list__label {
  position: relative;
  padding-left: 16.3%;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -3px;
    width: 28px;
    height: 28px;
    border: 1px solid #d9d9d9;
  }
  &::after {
    content: "";
    position: absolute;
    left: 8px;
    top: 9px;
    width: 12px;
    height: 17px;
    border-right: 2px solid $green;
    border-bottom: 2px solid $green;
    transform: translateY(-50%) rotate(43deg);
  }
}

@media (min-width: $tablet-width) {
  .additional-list__label {
    line-height: 20px;
    font-size: 20px;
    padding-left: 20.5%;
    &::before {
      height: 38px;
      width: 38px;
    }
    &::after {
      left: 13px;
      top: 12px;
    }
  }
}

@media (min-width: $desktop-width) {
  .additional-list__label {
    padding-left: 23.5%;
  }
}
