.extra {
  margin-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .extra {
    margin-bottom: 75px;
  }
}

@media (min-width: $desktop-width) {
  .extra {
    margin-bottom: 87px;
  }
}


.extra__wrap {
  width: 87.5%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .extra__wrap {
    width: 92.2%;
  }
}

@media (min-width: $desktop-width) {
  .extra__wrap {
    width: 84.7%;
    flex-direction: row;
    justify-content: space-between;
  }
}

.extra__title {
  position: relative;
  padding: 0;
  margin: 0;
  margin-bottom: 34px;
  padding-left: 6.25%;
  padding-top: 28px;
  line-height: 24px;
  font-size: 24px;
  font-weight: normal;
  &::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 17%;
    background-color: #68b738;
    bottom: 7px;
    right: 0;
  }
}

@media (min-width: $tablet-width) {
  .extra__title {
    padding-top: 67px;
    padding-left: 8.7%;
    margin-bottom: 80px;
    line-height: 36px;
    font-size: 36px;
    &::after {
      width: 42.6%;
      bottom: 11px;
    }
    &::before {
      position: absolute;
      content: "";
      bottom: 11px;
      height: 3px;
      width: 3.5%;
      left: 0;
      background-color: #68b738;
    }
  }
}

@media (min-width: $desktop-width) {
  .extra__title {
    padding-top: 75px;
    padding-left: 7.5%;
    &::after {
      width: 66.4%;
      bottom: 10px;
    }
    &::before {
      width: 4.8%;
      bottom: 10px;
    }
  }
}

.extra__item {
  display: flex;
  flex-direction: column;
  padding-top: 14px;
  padding-bottom: 17px;
  border-bottom: 1px solid #cdcdcd;
  &:first-child {
    border-top: 1px solid #cdcdcd;
  }
}

@media (min-width: $tablet-width) {
  .extra__item {
    padding-top: 25px;
    padding-left: 5.2%;
    padding-right: 5.1%;
    padding-bottom: 26px;
    flex-direction: row;
    flex-wrap: wrap;
    &:last-child {
      border-bottom: none;
    }
    &:first-child {
      border-top: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .extra__item {
    padding-left: 0;
    padding-right: 0;
    padding-top: 16px;
    padding-bottom: 15px;
    align-items: center;
    &:first-child {
      border-top: 1px solid #cdcdcd;
    }
    &:last-child {
      border-bottom: 1px solid #cdcdcd;
    }
  }
}

.extra h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
  line-height: 16px;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .extra h3 {
    line-height: 20px;
    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .extra h3 {
    margin: 0;
    margin-right: auto;
  }
}

.extra__list {
  @include list;
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .extra__list {
    border: 1px solid #cdcdcd;
    margin-bottom: 69px;
  }
}

@media (min-width: $desktop-width) {
  .extra__list {
    width: 73.4%;
    border: none;
    margin-bottom: 0;
  }
}

.extra__info {
  margin-bottom: 15px;
  border-collapse: collapse;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .extra__info {
    width: 45%;
    margin-left: auto;
    margin-top: 3px;
    margin-bottom: 24px;
  }
}

@media (min-width: $desktop-width) {
  .extra__info {
    margin: 0;
    margin-top: 7px;
    width: 36.3%;
  }
}

.extra__field {
  @include description-text;
  line-height: 14px;
  width: 50%;
  &--price {
    text-align: right;
  }
}

@media (min-width: $tablet-width) {
  .extra__field {
    line-height: 20px;
    font-size: 16px;
    &--quantity {
      text-align: right;
    }
    &--price {
      width: 25%;
    }
  }
}

@media (min-width: $desktop-width) {
  .extra__field {
    &--quantity {
      text-align: left;
    }
    &--price {
      width: 16.5%;
      text-align: left;
    }
  }
}

.extra__order {
  padding-top: 8px;
  padding-bottom: 8px;
  &:hover {
    background-color: #5eaa2f;
  }
  &:active {
    color: #8fc46e;
  }
}

@media (min-width: $tablet-width) {
  .extra__order {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .extra__order {
    width: 27.4%;
  }
}

.extra__offer {
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  background-color: #68b738;
}

@media (min-resolution: 1.5dppx) {
  .extra__offer {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }
}

@media (min-width: $tablet-width) {
  .extra__offer {
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: $tablet-width) and (min-resolution: 1.5dppx) {
  .extra__offer {
    background-image: url("../img/gift-photo-tablet@2x.jpg");
  }
}

@media (min-width: $desktop-width) {
  .extra__offer {
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    width: 20%;
    flex-direction: column;
    justify-content: flex-start;
  }
}

@media (min-width: $desktop-width) and (min-resolution: 1.5dppx) {
  .extra__offer {
    background-image: url("../img/gift-photo-desktop@2x.jpg");
  }
}



.extra__gift {
  padding-top: 64px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 62px;
}

@media (min-width: $tablet-width) {
  .extra__gift {
    margin-left: 13%;
    margin-right: 0;
    margin-bottom: 76px;
  }
}

@media (min-width: $desktop-width) {
  .extra__gift {
    margin-left: auto;
    margin-right: auto;
    padding-top: 66px;
    margin-bottom: 61px;
  }
}

.extra__advert {
  @include description-text;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 42px;
  max-width: 167px;
  color: $white;
  line-height: 20px;
  font-size: 16px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .extra__advert {
    text-align: left;
    margin-left: 0;
    margin-right: 16.7%;
    margin-top: 71px;
  }
}

@media (min-width: $desktop-width) {
  .extra__advert {
    margin-top: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
