

/*@media (min-width: $tablet-width) {
  .main-nav {

    min-height: 87px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {

    min-height: 130px;
  }
}

.welcome {
  min-height: 483px;
}

@media (min-width: $tablet-width) {
  .welcome {
    min-height: 864px;
  }
}

@media (min-width: $desktop-width) {
  .welcome {
    min-height: 566px;
  }
}

.programs {
  min-height: 552px;
}

@media (min-width: $tablet-width) {
  .programs {
    min-height: 774px;
  }
}

@media (min-width: $desktop-width) {
  .programs {
    min-height: 372px;
  }
}

.details {
  min-height: 420px;
}

@media (min-width: $tablet-width) {
  .details {
    min-height: 800px;
  }
}

@media (min-width: $desktop-width) {
  .details {
    min-height: 400px;
  }
}

.page-footer__wrapper {
  min-height: 236px;
}


@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    min-height: 150px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    min-height: 149px;
  }
}

.catalog {
  min-height: 1772px;
}


@media (min-width: $tablet-width) {
  .catalog {
    min-height: 2459px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    min-height: 1340px;
  }
}

*/
