.page-footer {
  margin-top: -5px;
  background-color: #f2f2f2;
}

.page-footer__wrapper {
  width: 87.5%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    padding-top: 51px;
    padding-bottom: 55px;
    width: 92.2%;
    justify-content: space-between;
    flex-direction: row;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: 84.7%;
    padding-top: 55px;
    padding-bottom: 51px;
  }
}

.page-footer__logo {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 26px;
  align-self: center;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .page-footer__logo {
    width: auto;
    margin-top: 4px;
    margin-bottom: 0;
  }
}

.page-footer__logo:hover .page-footer__icon,
.page-footer__logo:focus .page-footer__icon {
  fill: #3e3e3e;
}

.page-footer__logo:active .page-footer__icon {
  fill: #6b6b6b;
}

.page-footer__icon {
  width: 130px;
  height: 24px
}


.page-footer__social {
  align-self: center;
  width: 100%;
  padding-top: 21px;
  padding-bottom: 17px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

@media (min-width: $tablet-width) {
  .page-footer__social {
    width: auto;
    margin-left: -7.6%;
    padding-top: 6px;
    padding-bottom: 0;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__social {
    margin-left: -4.3%;
  }
}

/*@media (min-width: $tablet-width) {
  .page-footer__copyright {
    width: 35%;
  }
}*/
