.programs {
  width: 87.5%;
  margin: 0 auto;
  margin-bottom: 16px;
}

@media (min-width: $tablet-width) {
  .programs {
    margin-bottom: 43px;
    width: 92.2%;
  }
}

@media (min-width: $desktop-width) {
  .programs {
    width: 84.7%;
  }
}

.programs__list {
    @include list;
    display: flex;
    flex-direction: column;
}

@media (min-width: $desktop-width) {
  .programs__list {
    flex-direction: row;
    justify-content: space-between;
  }
}

.programs__item {
    display: flex;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    padding: 24px 20px 21px 20px;
    &:first-child {
      margin-bottom: 20px;
    }
}

@media (min-width: $tablet-width) {
  .programs__item {
    position: relative;
    padding: 0;
    padding-bottom: 61px;
    &:first-child {
      margin-bottom: 30px;
    }
  }
}

@media (min-width: $desktop-width) {
  .programs__item {
    padding: 0;
    width: 46.7%;
    padding-bottom: 62px;
    &:first-child {
      margin: 0;
    }
  }
}

.programs__picture {
  position: relative;
  height: 51px;
  width: 51px;
  border-radius: 50%;
  background-color: #68b738;
}

@media (min-width: $tablet-width) {
  .programs__picture {
    position: absolute;
    width: 201px;
    height: 201px;
    top: 92px;
    right: 62px;
  }
}

@media (min-width: $desktop-width) {
  .programs__picture {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 47px;
    left: 9.2%;
    right: 0px;
  }
}

.programs__icon {
  position: absolute;
  &--slim {
    top: -2px;
    left: 10px;
  }
  &--pro {
    top: 11px;
    left: -7px;
  }
}

@media (min-width: $tablet-width) {
  .programs__icon {
    &--slim {
      width: 202px;
      height: 193px;
      top: -10px;
      left: 0;
    }
    &--pro {
      height: 200px;
      width: 266px;
      left: -32px;
      top: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .programs__icon {
    &--slim {
      width: 100px;
      height: 97px;
      top: -7px;
    }
    &--pro {
      height: 104px;
      width: 135px;
      left: -19px;
      top: -3px;
    }
  }
}

.programs__title {
    margin: 0;
    margin-left: 20px;
    margin-top: 5px;
    line-height: 37px;
    font-size: 24px;
    color: #111111;
    font-weight: normal;
    text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .programs__title {
    line-height: 37px;
    font-size: 36px;
    padding: 0;
    margin: 0;
    padding-top: 76px;
    padding-left: 7.3%;
    margin-bottom: 25px;
  }
}

@media (min-width: $desktop-width) {
  .programs__title {
    padding-top: 76px;
    padding-left: 37.5%;
    margin-bottom: 73px;
  }
}

.programs__description {
    @include description-text;
    padding-bottom: 22px;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 20px;
    margin-top: 21px;
}

@media (min-width: $tablet-width) {
  .programs__description {
    padding: 0;
    margin: 0;
    margin-bottom: 57px;
    border: none;
    line-height: 24px;
    font-size: 16px;
    padding-left: 7.3%;
  }
}

@media (min-width: $desktop-width) {
  .programs__description {
    padding-left: 9.2%;
    margin-bottom: 31px;
  }
}

@media (min-width: $tablet-width) {
  .programs__description--first {
    padding-right: 280px;
  }
}

@media (min-width: $tablet-width) {
  .programs__description--second {
    padding-right: 315px;
  }
}

@media (min-width: $desktop-width) {
  .programs__description--first {
    padding-right: 9%;
  }
}

@media (min-width: $desktop-width) {
  .programs__description--second {
    padding-right: 5%;
  }
}

.programs__link {
  position: relative;
    line-height: 16px;
    font-size: 16px;
    color: $black;
    text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .programs__link {
    line-height: 20px;
    font-size: 20px;
    padding-left: 7.3%;
  }
}

@media (min-width: $desktop-width) {
  .programs__link {
    padding-left: 9.2%;
  }
}

.programs__arrow {
  position: absolute;
  top: 2px;
  &--slim {
    left: 97px;
  }
  &--pro {
    left: 95px;
  }
}

@media (min-width: $tablet-width) {
  .programs__arrow {
    top: 5px;
    &--slim {
      left: 115.1%;
    }
    &--pro {
      left: 115%;
    }
  }
}
