body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: $font;
  color: #111111;
  font-style: normal;
}

@media (min-width: $desktop-width) {
  .index-wrap {
    background-image: url(../img/index-background-desktop@1x.jpg);
    background-repeat: no-repeat;
    background-size: 50% auto;
    background-position: top right;

    @media(min-resolution: $retina-dppx) {
      background-image: url(../img/index-background-desktop@2x.jpg);
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
