$black: #111111;
$green: #68b738;
$white: #ffffff;
$font: 'Oswald', sans-serif;
$mobile-width-only: 767px;
$tablet-width: 768px;
$tablet-width-only: 1439px;
$desktop-width: 1440px;
$retina-dppx: 1.5dppx;
